body {
    background: linear-gradient(to left bottom, #6fa1e1, #afcdf369 90%);
    height: 100vh;
    width: 100vw;
}

.search-container {
    margin: 20% auto;
    width: 300px;
    height: 50px;
}

input {
    height: 100%;
    width: 100%;
}

img {
    height: auto;
    width: 250px;
}

.suggestions-list {
    display: flex;
    flex-flow : row wrap;
    justify-content: space-around;
}

.suggestion-item {
    width: 30%;
    min-width: 250px;
    height: auto;
}